.ui-footer .footer-copyright, .menu-comment, menu-comment-attention,
.menu-comment {
    all: initial;
    font-weight: lighter;
    text-decoration: none;
    text-transform: none;
}
.menu-comment-attention {
    all: initial;
    font-weight: lighter;
    text-decoration: none;
    text-transform: none;
    color:red;
}
.footer-copyright a {
    all: initial;
    text-align: center;
    font-weight: lighter;
    text-decoration: none;
    text-transform: none;
    font-size: 80%;
}
.footer-copyright {
    font-size:80%;
    width: 300px;
    margin: 0 auto;
    padding: 0 0 10px 0;
    text-align: center;
    text-transform: none;
}
img {
    max-width: 100%;
    height:auto;
}

.ui-grid-d > .ui-block-span2 {
  width: 40%;
}
.ui-grid-d > .ui-block-span3 {
  width: 60%;
}
.ui-grid-d > .ui-block-span4 {
  width: 80%;
}
.ui-title {
    text-transform: capitalize;
}
.message {
    color: red;
    text-transform: none;
}
